.store_credit_notice {
    margin-bottom: 20px
}
.store_credit_notice form{
    display: none;
    text-align: center
}
.store_credit_notice form *{
    display: inline-block;
    width: auto;
}
.store_credit_notice .notice{
    color: red
}
.hide{
    display: none;
}
#dialog-invitation-form form{
    width:100%;
    max-width:100%;
}
#dialog-invitation-form table{
    border-width: 1px;
    width: 100%; 
}
#dialog-invitation-form table td{
    border: 0;
}
.referral_program_details .btn-invite-friends{
    right: 0;
    position: absolute !important;
}
div.referral_program_details{
    position: relative;
}
.referral_program_details form input[type=text].input-text{
    width:100%;
}
.referral_program_details form input[type=submit].button {
    margin: 0 !important;
}
.woocommerce .wmc_join_form form .form-row input.input-text{
    width:50%;
}
.wmc_join_form {
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom:20px;
}
.woocommerce .wmc_join_form form .referral_terms_conditions label{
    display: inline-block;
}
.woocommerce .wmc_join_form h2{
    margin-top:0;
} 
.wmc-invite-friends .input-text{
    width: 100%;
}
#wmc-social-media{
    margin-bottom: 20px;
}
#wmc-social-media .wmc-banner-list select{
    width: 100%;
    padding: .857em 1.214em;
    /*margin: 10px 0;
    font-weight: bold;*/
}
.woocommerce-checkout select#join_referral_program{
    width: 100%;
    padding: 10px 5px;
    max-width: 100%;
}
.woocommerce-checkout .wpmlrp-checkbox span.optional{
    display: none;
}
#wmc-social-media .wmc-banners .wmc-banner-preview img{
     -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  margin:0 auto;
}
#wmc-social-media .wmc-banners .wmc-banner-preview img.transparent {
    opacity:0;
}
.wmc-banner-preview{
    position:relative;
    min-height:340px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border:1px solid #eee;
    padding:20px 0 20px 0;
  
}
.wmcShareWrapper a{
    display:inline-block;
    vertical-align:bottom;
    width:32px;
    height:32px;
    margin:0 6px 6px 0;
    padding:0;
    outline:none;
    background:url(../images/icons.png);
    background-repeat: no-repeat;
}
.wmcShareWrapper a.wmc-button-fb{
    background-position:  -0px 0;
}
.wmcShareWrapper a.wmc-button-gplus{
    background-position:   -32px 0;
}
.wmcShareWrapper a.wmc-button-lnkd{
    background-position:  -64px 0;
}
.wmcShareWrapper a.wmc-button-pin{
    background-position:  -96px 0;
}
.wmcShareWrapper a.wmc-button-twi{
    background-position:  -128px 0;
}
.wmcShareWrapper a.wmc-button-whatsup{
    display:inline-block;
    background-position: -160px 0;
}
.wmc-show-affiliates .view_hierarchie a.view_hierarchie {
    background-image: url("../images/plus-minus.png");
    background-position: center 2px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}
.wmc-show-affiliates .view_hierarchie a.view_hierarchie.wmcOpen{
   background-position: center -20px; 
}
.wmc-show-affiliates .view_hierarchie a.view_hierarchie.wmcClose{
   background-position: center 2px;
}
.wmc-show-affiliates .view_hierarchie a:focus,
.wmc-show-affiliates .view_hierarchie a:focus .media-icon img{
    box-shadow: none;
}
.wmc-show-affiliates .view_hierarchie a:hover {
    
}
.wmc-show-affiliates .wmc-child{
    display: none;
}
.referral_program_overview {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    justify-content:space-between;
}

.referral_program_overview .referral_program_stats {
    width: 31%;
    font-size: 18px;
    border: 1px solid #66afe9;
    border-radius: 6px;
    background: #fff;
    color: #000000;
    padding: 10px 0;
    line-height: 39px;
    text-align: left;
}

.referral_program_overview .referral_program_stats > span:first-child {
    display: block;
}
.referral_program_sections ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.referral_program_sections ul li {
    list-style: none;
    padding: 10px 20px 10px;
    margin: 30px 5px 0 0;
}

.referral_program_sections ul li a {
    font-size: 18px;
}

.referral_program_sections ul li.active, .referral_program_sections ul li:hover, .referral_program_sections ul li:hover a {
    background: #f3f3f3;
    color: #6d6d6d;
    border-radius: 6px 6px 0 0;
}
.referral_program_content div#dialog-invitation-form h2 {
    margin-bottom: 15px;
}
.referral_program_content #wmc-social-media h2 {
    margin-bottom: 15px;
}
.referral_program_content #wmc-social-media h4 {
    margin-bottom: 30px;
}
@media (max-width: 768px){
    .wmc-banner-preview{
        width:100%;
        height:auto;
        padding:0;
    }
    .wmcShareWrapper a.wmc-button-whatsup{
        display:inline-block;
    }
}
/*
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--my-affliates a::before {
    content: "\f0c0";
}
.wmc-show-affiliates th:nth-child(1), .wmc-show-affiliates td:nth-child(1){
    width: 99px;
}
.wmc-show-affiliates th:nth-child(2), .wmc-show-affiliates td:nth-child(2) {
    width: 118px;
}
.wmc-show-affiliates th:nth-child(4), .wmc-show-affiliates td:nth-child(4)  {
    width: 86px;
}
.wmc-show-affiliates th:nth-child(5), .wmc-show-affiliates td:nth-child(5)  {
    width: 97px;
}
*/
.wmc-show-affiliates th,td{
    text-align:left;
}

.wmc-banner-list > select {
    border-radius: 1.571em;
    padding: .857em 1.214em !important;
    color: #818181;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    outline: none;
}
.wmc-banner-list > select:focus, .wmc-banner-list > select:active {
    border-color: #51a7e8;
}
.wmc-banner-list > select {
    border-radius: 1.571em;
    padding: 10px 1.214em !important;
    color: #818181;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    outline: none;
    position: relative;
    top: -2px;
}
.wmc-banner-list > select:focus, .wmc-banner-list > select:active {
    border-color: #51a7e8;
}
.wmc-banners .wmc-banner-list {
    position: absolute;
    width: 50%;
    padding: 0 20px;
    /*margin-top: 20px;*/
    z-index: 1;
}
.wmc-banners .wmc-banner-preview {
    float: left;
    width: 50%;
    border: none;
    padding: 20px;
    margin-top: 50px;
}
.wmc-banners .wmc-banner-preview + div {
    float: right;
    width: 50%;
}
.referral_program_content span#share42 {
    position: relative;
    bottom: -14px;
}
.wmc-show-affiliates .affliate-filter {
    display: flex;
    line-height: 20px;
    padding-bottom:10px;
}

.wmc-show-affiliates .affliate-filter label{
    margin-left:15px
} 
.wmc-show-affiliates .affliate-filter select {
    margin-left: 5px;
}

.wmc-show-affiliates .filter_order {
    display: none;
}
.referral_program_overview >.referral_program_stats > span {
    display: block;
    padding-left: 66px;
}

.referral_program_overview > .referral_program_stats > span:first-child {
    position: absolute;
    left: -1px;
    height: calc(100% + 2px);
    width: 60px;
    top: -1px;
    background-color: #0787ea;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 0;
}
.referral_program_overview >.referral_program_stats > span:last-child {
    font-size: 30px;
}
.referral_program_overview > .referral_program_stats{
    position: relative;
}

.referral_program_overview > .referral_program_stats> span:first-child:before {
    font-family: "FontAwesome","Font Awesome 5 Free";
    position: absolute;
    left: 50%;
    font-size: 30px;
    display: block;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}
.referral_program_overview > .referral_program_stats> span.referral_icon:before {
    content: "\f11c";
}
.referral_program_overview > .referral_program_stats > span.total_referral:before {
    content: "\f0c1";
}
.referral_program_overview > .referral_program_stats > span.total_credit_icon:before {
    content: "\f290";
}
.page.page-id-12 .entry-header h1 {
    font-size: 36px;
    font-weight: 600;
    background-color: #e6e6e6;
    padding: 7px 10px;
    line-height: 1;
}
div.referral_program_details .referral_program_sections h2, .woocommerce-MyAccount-content .wmc-show-affiliates h2 {
    background-color: #f0f0f0;
    padding: 5px 15px;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000000;
}
div.referral_program_details .referral_program_sections h2 + span, div.referral_program_details .referral_program_sections h2 + h4 {
    padding-left: 15px;
    padding-right: 15px;
}
div.referral_program_details .referral_program_sections h2 + span small {
    font-size: 13px;
    color: #333e48;
}
div.referral_program_details .referral_program_sections h2 + h4 {
    font-size: 18px;
    font-weight: 600;
    color: #333e48;
}
div.referral_program_details .referral_program_sections #wmc-social-media h2 {
    margin-right: -15px;
}
div.referral_program_details .referral_program_sections #wmc-social-media {
    padding-right: 20px;
}
.wmc-show-affiliates .affliate-filter select#my-affilicate_filters {
    padding: 8px;
    border-radius: 20px;
    outline: none;
    min-width: 250px;
}
@media (max-width: 767px) {
    .referral_program_overview .referral_program_stats {
        width: 100%;
        margin-bottom: 20px;
    }

    .referral_program_overview {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    .referral_program_content table.shop_table.shop_table_responsive tr td:before {
        display: none;
    }


    .referral_program_content #dialog-invitation-form table tr:first-child td:last-child {
        width: auto;
        text-align: center;
    }

    .wmc-banners .wmc-banner-preview {
        width: 100%;
        margin-top: 0;
        min-height: initial;
        padding: 0;
    }

    div.referral_program_details .referral_program_sections #wmc-social-media {
        padding-right: 0;
    }

    div.referral_program_details .referral_program_sections #wmc-social-media h2 {
        margin-right: 0;
    }

    .wmc-banners .wmc-banner-list {
        width: 100%;
        padding: 0;
        position: initial;
        margin-bottom: 20px;
    }

    .wmc-banners .wmc-banner-preview + div {
        float: none;
        width: 100%;
    }
    .wmc-show-affiliates table.shop_table.shop_table_responsive tr.affliate-note td {
        text-align: left;
    }

    .wmc-show-affiliates table.shop_table.shop_table_responsive tr.affliate-note td:before {
        display: none;
    }
    .wmc-show-affiliates table.shop_table.shop_table_responsive tr:nth-child(even) {
        background-color: #e0e0e0;
    }
    .wmc-show-affiliates table.shop_table.shop_table_responsive tr.affliate-note {
        background-color: initial;
    }
    div.referral_program_details .referral_program_sections #wmc-social-media .wmc-banners {
        padding-left: 15px;
        padding-right: 15px;
    }

    div.referral_program_details .referral_program_sections #wmc-social-media .wmcShareWrapper {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 840px) {
    .wmc-banner-preview {
        min-height: 288px;
    }
    .wmcShareWrapper span#share42 a:last-child {
        margin-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .referral_program_overview .referral_program_stats {
        font-size: 12px;
        line-height: 20px;
        padding-right: 10px;
    }

    .referral_program_overview >.referral_program_stats > span:last-child {
        font-size: 24px;
        line-height: 26px;
    }
}
.wmc-show-affiliates table.shop_table th {
    background-color: #f0f0f0;
    vertical-align: middle;
}


@media (min-width: 768px) {
    .wmc-show-affiliates table.shop_table th:last-child, .wmc-show-affiliates table.shop_table td:last-child {
        width: 100px;
        text-align: center;
    }

    .wmc-show-affiliates table.shop_table th:nth-child(5), .wmc-show-affiliates table.shop_table td:nth-child(5) {
        width: 100px;
        text-align: center;
    }

    .wmc-show-affiliates table.shop_table th:nth-child(4), .wmc-show-affiliates table.shop_table td:nth-child(4) {
        width: 100px;
        text-align: center;
    }

    .wmc-show-affiliates table.shop_table th:nth-child(2), .wmc-show-affiliates table.shop_table td:nth-child(2) {
        width: 120px;
        text-align: center;
    }

    .wmc-show-affiliates table.shop_table th:first-child, .wmc-show-affiliates table.shop_table td:first-child {
        width: 100px;
        text-align: center;
    }

    .wmc-show-affiliates table.shop_table tr:last-child td:first-child {
        width: auto;
        text-align: left;
    }
    
}
.referral_program_stats {
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 20px;
}
span.total_credit_icon {
    font-size: 30px;
    text-align: center;
    line-height: 98px;
    color: #fff;
}
/* hide temp*/
span.convet_amount {
    font-size: 12px;
    margin-left: 10px;
}

.redeem_payment_methds_select .paytm {
    padding-top: 30px;
}
.redeem_payment_methds_select .content_payment {
    padding-top: 20px;
}
.widthraw_filter {
    padding-top: 0px;
}
.withdraw_limit label {
    font-weight: 500;
}
.withdraw_filters label.start_date {
    padding-right: 20px;
}

.withdraw_filters label.end_date {
    padding-right: 20px;
}

.withraw_main_label label {font-weight: 600;}

.withdraw_filters {
    padding-top: 20px;
}
.withdraw_filters {
    padding-bottom: 20px;
}
.referral_program_content span.woocommerce-Price-currencySymbol {
    display: none;
}
/*form.woocommerce-form.woocommerce-form-register.register label[for="option_3"] {
    display: none;
}*/
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--referral a:before{
    font-family: "FontAwesome","Font Awesome 5 Free";
    content: "\f1e0"
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--my-affliates a:before{
    font-family: "FontAwesome","Font Awesome 5 Free";
    content: "\f0c0"
}