footer#colophon {
    position: relative;
    z-index: 101;

    a:hover,
    a:focus {
        color: gray;

        i{
            color: gray;
        }
    }
}

.footer_modal_5{
	position: fixed;
    z-index: 2;
    cursor: pointer;
    bottom: 20px;
    left: 7px;
}

.sn-footer-widgets * {
    color: #fff;
}

.sn-footer-widgets ul {
    list-style: none;
    margin-left: 10px;
}
.sn-footer-copyright a{
    color: #fff;
}

