.ast-separate-container #primary.m0 {
    margin: 0;
}

p.status {
    font-size: 12px;
    color: #F44336;
}

.give5-header-outer {
    position: relative;

	.give5-left {
	    position: absolute;
	    left: 0;
	    bottom: -50px;
	}

	.give5-right {
	    position: absolute;
	    right: 0;
	    top: 25px;
	}
}

.give5-header-bg {
    background-color: #f5faff;
    text-align: center;
    padding: 25px 0;
    position: relative;

    h1 {
	    margin-bottom: 25px;
	}

	p{
		font-size: 24px;
    	font-family: Aquawax Pro Bold;
	}
}

.giv5-love-area {
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-top: 20px;
}

.giv5-love-img {
    width: 618px;
    margin: 0 auto;
    position: relative;

	img{
	    max-width: unset;
	    float: right;
	}

	.give5-bonus {
	    position: absolute;
	    right: 0px;
	    transform: translateX(110%);
	    top: 20px;
	    max-width: 271px;
	}

}

.give5-bonus-text {
    transform: rotate(-15.836deg) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

	h4 {
	    font-size: 40px;
	}
}

.login-register-area {
    position: absolute;
	width: 100%;
	margin-top: 110px;

    .logged-in:not(.page-template-tpl-processes) &{
    	margin-top: 143px;
    }
}

.sn-form-area{
	input{
	    width: 100%;
	    margin-bottom: 20px;
	    border: 2px solid #1a1a1a;
	    border-radius: 7px;
	    height: 50px;
	    background-color: #fff;
	}
}

.sn-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

	.frmh-text {
	    font-size: 14px;
	    font-family: Aquawax Pro RG;
	}

	.form-type {
	    font-size: 22px;
	    font-family: Aquawax Pro Bold;
	}
}

.sn-form-toggle {
    cursor: pointer;
    font-family: Aquawax Pro Bold;
}

.sn-form-area {
	margin-top: 20px;
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;

    .logged-in:not(.page-template-tpl-processes) &{
    	margin-top: 35px;
    }
}

.signup-htext,
.give5-bottom-text{
	h5 {
	    line-height: 1.5;
	}
}

.forgot-pass {
	font-size: 14px;
    color: #1a1a1a;
    font-family: Aquawax Pro Bold;
    margin-top: 18px;
    display: inline-block;
}

.give5-bottom-wrap {
    background-color: #1a1a1a;
	padding-bottom: 60px;
	padding-top: 20px;
	margin-top: -1px;

    *{
    	color: #fff;
    }
}

.give5-bottom-outer {
    position: relative;
    margin-top: -350px;
}

.give5-bottom-text,
.offer-details-hfe {
    display: inline-block;
    max-width: 370px;

	.elementor-icon-list-items {
	    position: relative;
	}

	.elementor-icon-list-icon {
		position: absolute;
		left: 0;
	}
}

.give5-half-right {
    float: right;
    width: 50%;
    text-align: center;
}


.give5-container {
    overflow: hidden;
}

/*Offer Details*/
.offer-details-hfe {
	float: left;
	position: relative;
    z-index: 9;

	.elementor-heading-title,
	.elementor-icon-list-text,
	.elementor-social-icon i {
	    color: #1a1a1a !important;
	}

	svg {
		text,
		tspan {
		    fill: #fff;
		}

		path{
			fill: #1a1a1a;
		}
	}
}

.offer-details-wrap{
	overflow: hidden;

	.giv5-love-area{
		overflow: unset;
		float: right;
		margin-top: 0;
	}

	.frmh-text{
		display: none;

	}
}

.offer-details-hfe-inner {
	margin-top: 80px;
}

.give5-bottom-wrap {


    a.elementor-icon:hover,
    a.elementor-icon:focus {
        color: gray !important;

        i{
            color: gray !important;
        }
    }
}
