.refer-text {
    margin-bottom: 24px;
    line-height: 1.5;
}

.snref-progress {
	ul {
	    list-style: none;
	    margin: 0 auto;
	    padding: 0;
	    border: 1px solid #333;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    max-width: 350px;
	    border-radius: 100px;
	    overflow: hidden;
	}

	li:not(:last-child){
		border-right: 1px solid #000;
	}

	li{
		width: 100%;
    	line-height: 40px;

    	&.active {
		    background: #000;
		    color: #fff;
		    border-color: #fff;
		}
	}
}

#share_link_input:focus,
#share_link_input{
	width: 100%;
    border: 2px solid #1a1a1a;
    height: 48px;
    color: gray;
    border-radius: 0;
    outline: 0;
}

#share_link_input:focus{
	color: #1a1a1a;
}

.snref-share-wrap {
    list-style: none;
    margin: 0;
    padding: 0;

    li{
    	position: relative;
    	display: flex;
    	align-items: center;
    	margin-bottom: 35px;

    	a{
    		display: flex;
    		align-items: center;
    	}
    }
}

#share_link_button{

	.copied_message{
		display: none;
	}

	&.copied{
		.copied_message{
			display: block;
		}
		.copy_message{
			display: none;
		}
	}
}

.snref-share-svg{
	width: 45px;
	min-width: 45px;
    margin-right: 30px;
    cursor: pointer;

	svg{
		display: block;
		width: 100%;
	}
}

.snref-share-button{
	margin-right: 20px!important;
    width: 250px;
    text-align: center;
    font-weight: normal !important;
    padding: 14px 5px !important;
}

.snref-progress {
    margin-bottom: 35px;
}

.snref-progress-text{
    margin-bottom: 10px;
}

.woocommerce-form {
	&.woocommerce-form-login,
	&.woocommerce-form-register{
		overflow: hidden;

		.form-row{
			clear: both !important;
			padding: 0 !important;
			float: none;
    		width: 100%;
		}

		.woocommerce-privacy-policy-text,
		#payment_email{
			display: none;
		}

		label[for="payment_email"] {
		    display: none !important;
		}
	}
}

.woocommerce-LostPassword.lost_password a{
	color: inherit;
}