body.woocommerce.post-type-archive-product{
	#primary{
		margin: 0;
	}

	header.sn-shop-page{
		display: none;
	}

	ul.products.columns-1{
		@include media-query-down('tablet'){
			margin-right: -10px;
			margin-left: -10px;
		}
	}

}

.woocommerce, .sn_woocommerce {
	.ssff-grid-layout{
		display: none;
	}

	.shop_layout_grid{

		.hide_on_grid{
			display: none;
		}

		.ssff-grid-layout{
			display: block;
		}

		ul.products {
			margin-left: -50px;
    		margin-right: -50px;
    		grid-template-columns: repeat(2,1fr);

			li.sn-find-focus-row{
				flex-wrap: wrap;
				text-align: center;
				border: 0;
				padding: 30px 50px !important;

				> div {
					width: 100%;
				}

				.star-rating {
				    margin-left: auto !important;
				    margin-right: auto !important;
				    margin-bottom: 15px;
				}

				.add_to_cart_button {
				    border-radius: 0 !important;
				    padding: 15px 48px;
    				font-weight: normal;
				}

				.added_to_cart{
					color: inherit;
				}

				.ssff-grid-title h5 {
				    font-size: 22px;
    				margin-bottom: 12px;

				}

				.ssff-grid-price{
					font-size: 22px;
					display: inline-block;

					.price{
						margin-bottom: 15px;
					}

					*{
    					font-weight: normal;

					}
				}

			}

			@include media-query-down('tablet'){
				margin-left: 0;
    			margin-right: 0;

    			li.sn-find-focus-row{
					padding-left: 25px !important;
	    			padding-right: 25px !important;
	    			min-width: 100%;

				}
			}

			@include media-query-down('phone'){
    			display: block;

    			li.sn-find-focus-row{
					padding-left: 15px !important;
	    			padding-right: 15px !important;
	    			min-width: 100%;

				}
			}



		}

		.snff-thumbnail {
			background: #f7f7f7;
			margin-bottom: 30px;

			img {
			    width: 100%;
	    		height: 350px;
	    		object-fit: contain;
	    		object-position: center;
	    	}
		}

	}

}

.elementor-element.elementor-products-grid ul.products.columns-1 {
    grid-template-columns: repeat(1,1fr) !important;
}

@include media-query-down('tablet'){
.woocommerce {
	ul.products.columns-1{

		li.sn-find-focus-row{
			margin-right: 0 !important;
		    width: 100%;
		    display: flex;
		    align-items: center;

		    > div{
		    	width: 100%;
		    }

		    .woocommerce-loop-product__title{
		    	font-size: inherit;
		    }

		    .ssff-price{
		    	display: none;
		    }

		    .snff-title-wrap {
			    min-width: 100px;
			    max-width: 100px;
			}

		    .snff-thumbnail {
		    	min-width: 95px;
		    	img{
		    		height: 65px;
		    		object-fit: contain;
		    	}
		    }

		    .ssff-cart-popup {
			    text-align: right;
			    min-width: 45px;
			    max-width: 45px;

			    img{
			    	display: block;
			    }
			}

		    .ssff-serving {
		    	del,
		    	.subscription-details{
		    		display: none;
		    	}

		    	*{
		    		font-size: 12px;
				    font-weight: normal;
				    font-family: Aquawax Pro RG;
		    	}
		    }
		}

		@include media-query-down('phone'){
    		display: block;
    		grid-template-columns: repeat(1,1fr);
    	}
	}
}
}