.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;

  .tooltiptext {
    visibility: hidden;
    width: 252px;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
    font-size: 16px;
    font-family: Aquawax Pro RG;
    line-height: 1.35;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #1a1a1a transparent transparent transparent;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}