// Show Hide Payment Info
.show_on_pi{
	display: none;
}
// End Show Hide Payment Info

.sn_checkout-title {
    margin-top: 45px;
}

#billing_postcode_field,
#billing_address_1_field,
#billing_city_field,
#shipping_postcode_field{
	clear: left !important;
}

#billing_email_field{
	clear: both !important;
}

span.woocommerce-input-wrapper>strong {
    border: 1px solid grey;
    border-radius: 7px!important;
    padding: .75em .8em;
    transition: all .2s ease;
    box-sizing: border-box;
    display: block;
    font-weight: normal;
}

.sn_checkout-steps {
    margin: 42px 0 65px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
    	display: block;
    }

    .step-count {
	    height: 25px;
	    width: 25px;
	    background: #1a1a1a;
	    color: #fff;
	    font-size: 14px;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 100px;
	    margin-right: 8px;
	    font-weight: normal;
	}

    li{
    	padding: 0 7px;

    	a{
    		display: flex;
		    align-items: center;
		    color: #1a1a1a;
		    font-size: 16px;
		    font-weight: 600;

		    &.inactive {
			    color: #808080;

			    .step-count{
			    	background: transparent;
			    	color: #808080;
			    	border: 1px solid;
			    }
			}
    	}
    }

}

// Login area
.sn-checkout-login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

	.contact-info {
	    font-size: 22px;
	}

	.have-acc{
		a{
			color: inherit;
		}
	}
}

.skip_from_login,
.skip_from_signup {
    margin-left: 20px;
    margin-right: 50px;
    cursor: pointer;
    user-select: none;

}

.create-skip-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.form-row-pass,
.form-row-pass .input-text,
.sn-form-row,
.sn-form-row .input-text {
	width: 100%;
}

.form-row-create-skip {
    display: flex;
    align-items: center;
}

.sn_createaccount-wrap,
.sn_checkout-newsletter-wrap {
    margin-top: 25px;
}

.sn_checkout_signup_wrap{
	display: none;
}

.woocommerce-form-login[style*="none"] ~ .sn_checkout_signup_wrap{
	display: block;
}

.woocommerce-account-fields {
    display: none;
}

.checkout-field-title {
    margin-bottom: 16px;
}

form.woocommerce-checkout{
	margin-top: 60px;
	padding-bottom: 25px;
}

.sn_checkout-section-heading{
	margin-bottom: 5px;
    margin-top: 40px;
    overflow: hidden;

	p{
		margin-bottom: 15px;
	}
}

.wc_payment_method {
    padding: 7px 20px 7px 11px;
    border-bottom: 1px solid #808080;

    &:last-child{
    	border: 0;
    }
}

.sn_checkout-menu{
	text-align: center;
    border-top: 1px solid #808080;
    margin-top: 40px;
    padding-top: 25px;

    a{
    	color: inherit;
    }

	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			display: inline;

			a{
    			padding: 0 25px;
    			color: #808080;

    			&:hover{
    				color: #1a1a1a;
    			}
			}
		}
	}
}


.woocommerce,
.woocommerce-page {
	form{
		.form-row-wide {
			clear: none !important;
		}

		.form-row{
			padding: 3px 8px !important;
			float: left;
		}

		.woocommerce-form-login{
			.form-row{
				padding: 0;
			}
		}
	}

	.wc_payment_methods{
		.form-row-wide{
			width: 100%;
		}

		.form-row-first,
		.form-row-last{
			width: 50%;
		}
	}

	.wc_payment_method.active {
	    background: #f7f7f7;
	}

	.wc-stripe-elements-field,
	.wc-stripe-iban-element-field {
	    padding: 14px;
	}

}

// Columns
.form-row-half {
    width: 50%;

}

.form-row-two-third {
    width: 66.6%;
}

.form-row-one-third {
    width: 33.3%;
}

.form-row-one-forth{
	width: 25%;
}

.form-row-full{
	width: 100%;
}

.woocommerce-billing-fields{
	.form-row {

	}
}

.shipping_address{
	.form-row {

	}
}

.woocommerce-billing-fields,
.shipping_address{
	.form-row {
		label{
			display: none !important;
		}
		.input-text {
			width: 100%;
    		height: 52px;
		}
	}
}

.woocommerce-billing-fields{
	.form-row {
		.select {
			width: 100%;
    		height: 52px;
		}
	}
}

.sn-form-row,
.form-row-pass {
	.input-text{
		width: 100%;
		height: 52px;
	}
}

.woocommerce-billing-fields__field-wrapper {
    overflow: hidden;
    margin: 0 -7px;
}

body.woocommerce-checkout{
	.form-row,
	.sn-form-row,
	.form-row-pass {
		input[type=text],
		input[type=tel],
		input[type=password],
		input[type=email]{
			border: 1px solid #808080;
		    border-radius: 7px !important;
		}
	}
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #808080;
    top: 50%;
    transform: translateY(-50%);
}

body:not(.logged-in){
	.thwcfd-field-email{
		display: none;
	}
}

.sn-checkout-button {
    margin-top: 50px;
    margin-bottom: 40px;

    button{
    	width: 350px;
    }
}

.subscrive-save-tos {
    margin-top: 50px;
    display: none;
}

.sn-info{
	margin-bottom: 8px;
	font-size: 18px;
}

.sn-billing_email{
	margin-bottom: 30px;
}

.sn-customer-billing-info-heading {
    margin-bottom: 30px;
}

.sn-customer-billing-info {
    border-bottom: 1px solid gray;
    margin-bottom: 27px;
    padding-bottom: 18px;
}

.edit-billing-info {
    float: right;
    cursor: pointer;
    user-select: none;
    color: #000;
    font-weight: bold;
}

#woo_pp_ec_button_checkout {
    display: block !important;
}

// Cart Buttons
.sn-amazon-pay {
	width: 49%;
	max-width: 49%;
    float: left;
    //padding: 19px 15px 14px;
    padding: 14px 15px 11px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #2C2E2F;
	svg {
	    display: block;
	    margin: 0 auto;
	}

	&:hover{
		filter: brightness(1.2);
		background: #2c2e2f;
	}
}

.wcppec-checkout-buttons {
    float: right;
    width: 49%;
    margin: 0;
}

.wc-forward {
    width: 100%;
    text-align: center;
}

.wcppec-checkout-buttons__separator {
    display: none;
}

.cart-pay-seperator {
    text-align: center;
    display: block;
    clear: both;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cart-pay-seperator:after {
	content: "";
	background: gray;
	width: 100%;
	height: 1px;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.cart-pay-seperator span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 23px;
}

.woocommerce-cart .wc-proceed-to-checkout {
    clear: both;
    overflow: hidden;
    max-width: 620px;
    margin: 0 auto;

    a.wc-forward {
	    background-color: #2c2e2f;
	}
}

// Checkout button
.sn-express-checkout {
    border: 1px solid gray;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 20px 20px 0;
    clear: both;
    margin-bottom: 30px;

    .sn-amazon-pay {
	    width: 350px;
	}
}

#woo_pp_ec_button_checkout {
    width: 350px;
    float: right;
    margin-bottom: 18px;
    max-width: 49%;
}

.sn-express-checkout-text {
    position: absolute;
    top: -12px;
    background: white;
    text-align: center;
    padding: 0 20px;
}

.wc-amazon-payments-advanced-populated,
#pay_with_amazon{
	display: none !important;
}

.sn_notifications{
	span{
	    margin-bottom: 6px;
		display: block;

		&:last-child{
			margin-bottom: 30px;
		}
	}

	.sn-danger{
		color: #ff0000;
	}
}

.wc_payment_methods {

	.gateway-icon {
	    display: none;
	}

	.gateway-title {
	    padding-left: 3px;
	}

	.gateway-title_paypal {
	    display: inline-block;
	    vertical-align: middle;
	    padding-left: 11px;
	}
}