/*==============================
=            MIXINS            =
==============================*/
/*----------  Responsive mixins  ----------*/
/* Responsive breakpoint manager.
  @access public
  @param {String} $breakpoint - Breakpoint
  usage: @include media-query(phone-max) {}
*/
/* Responsive breakpoint manager.
  @access public
  @param {String} $breakpoint - Breakpoint
  usage: @include media-query-down(phone) {}
*/
/*=====  End of MIXINS  ======*/
/* All Variables should be declared here which makes it easier to update if something changes globally */
/*================================
=            Basic CSS            =
================================*/
html, body {
  overflow-x: hidden;
}

#page {
  overflow: hidden;
}

.br-0 {
  border-radius: 0;
}

.snbg-sep img {
  display: block !important;
}

.text-sm {
  font-size: 70%;
}

.text-lg {
  font-size: 22px;
}

.fapr {
  font-family: Aquawax Pro RG;
}

.fapm {
  font-family: Aquawax Pro Medium;
}

.fapb {
  font-family: Aquawax Pro Bold;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    width: 10px;
  }
}

.owl-carousel .owl-nav .owl-prev {
  left: -20px;
}

.owl-carousel .owl-nav .owl-next {
  right: -20px;
}

.owl-carousel.sn-slider .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel.sn-slider .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 33px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 320px;
}

.owl-carousel .owl-dots .owl-dot span {
  margin: 0 3px;
  position: relative;
  height: 14px;
  width: 14px;
  display: block;
}

.owl-carousel .owl-dots .owl-dot span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: #666;
  height: 14px;
  width: 14px;
  border-radius: 100px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-dots .owl-dot span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-dots .owl-dot.active span:after {
  background: #4d4d4d;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.d-none, .hidden {
  display: none;
}

body.page.woocommerce-cart .entry-header {
  text-align: center;
  margin-bottom: 3em;
}

/*IMG Sep*/
.snbg-sep img,
.sep img {
  width: 100%;
  display: block;
}

img.sep {
  width: 100%;
  display: block;
}

/*Accordion*/
.elementor-accordion .elementor-tab-title {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.elementor-accordion .elementor-accordion-icon svg {
  display: block;
}

.elementor-accordion .elementor-accordion-icon.elementor-accordion-icon-right {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.snsvg svg,
.fullsvg svg {
  display: block;
}

.snsvg .elementor-icon,
.fullsvg .elementor-icon {
  display: block;
}

.secondary a *,
.site-footer a *,
.site-header a *,
.main-header-menu .menu-link,
.main-header-menu a,
a {
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
}

.sn_checkbox-icon,
.sn_radio-icon {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sn_checkbox-icon svg,
.sn_radio-icon svg {
  display: block;
}

.sn_checkbox-icon text,
.sn_radio-icon text {
  display: none;
}

.sn_checkbox-icon.checked text,
.sn_radio-icon.checked text {
  display: block;
}

input[type="checkbox"]:checked ~ .sn_checkbox-icon text {
  display: block;
}

.sn_radio-icon #checked {
  display: none;
}

input[type="radio"]:checked ~ .sn_radio-icon #checked {
  display: block;
}

input[type="radio"]:checked ~ .sn_radio-icon #unchecked {
  display: none;
}

.gray {
  color: #808080;
}

/*Divider*/
.sn_divider {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.sn_divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background: #808080;
  width: 100%;
  height: 0.5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sn_divider-text {
  position: relative;
  z-index: 1;
  background: #fff;
  display: inline-block;
  padding: 0 30px;
  font-size: 18px;
}

.show-on-large {
  display: block;
}

@media (max-width: 1200px) {
  .show-on-large {
    display: none;
  }
}

.hide-on-large {
  display: none;
}

@media (max-width: 1200px) {
  .hide-on-large {
    display: block;
  }
}

@media (min-width: 1200px) {
  .show-on-large.abpr {
    padding-right: 60px;
  }
  .abpl {
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
  .hide-on-phone {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .show-on-phone {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .center-on-mobile {
    text-align: center;
  }
}

/*=====  End of Basic CSS  ======*/
.splendid-header-widget-right {
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Aquawax Pro Bold;
}

@media (max-width: 350px) {
  .splendid-header-widget-right {
    padding-right: 0px;
  }
}

.ast-header-break-point .site-header .main-header-bar-wrap .site-branding {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 350px) {
  .ast-header-break-point .site-header .main-header-bar-wrap .site-branding {
    padding-right: 0px;
  }
}

.ast-header-break-point .main-navigation ul .menu-item .menu-link {
  border: 0 !important;
}

.ast-header-break-point .ast-site-identity {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ast-logo-title-inline .site-logo-img {
  padding-right: 1.5em;
}

@media (max-width: 350px) {
  .ast-logo-title-inline .site-logo-img {
    padding-right: 5px;
  }
}

#masthead .site-logo-img img {
  max-height: 55px !important;
}

.splendid-header-widget-left {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splendid-header-widget-left ul {
  list-style: none;
  margin: 0;
}

.splendid-header-widget-left li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splendid-header-widget-left a {
  color: #1a1a1a;
  padding: 0 25px;
}

.splendid-header-widget-left a:hover {
  color: #000;
  font-weight: 600;
}

.splendid-header-widget-left .heart-svg a {
  padding-left: 48px;
}

.splendid-header-widget-left .buy-now-link {
  display: none;
}

@media (max-width: 991px) {
  .splendid-header-widget-left {
    display: none;
  }
}

.main-header-menu a:hover,
.ast-header-custom-item a:hover,
.main-header-menu li:hover > a,
.main-header-menu li.focus > a {
  color: #000 !important;
  font-weight: 600;
}

.heart-svg:before {
  height: 27px;
  width: 36px;
  display: inline;
  position: absolute;
  background-repeat: no-repeat;
}

.heart-svg {
  position: relative;
}

.sncart {
  margin: 6px 12px 6px 50px;
}

.sncart .sn-cart-count {
  top: -6px;
  position: absolute;
  bottom: 100%;
  color: #1a1a1a;
  font-size: 14px;
  right: -12px;
}

.sncart a {
  position: relative;
  display: block;
}

.sncart img {
  min-width: 39px;
  height: 34px;
}

@media (max-width: 420px) {
  .sncart {
    margin-left: 0px;
  }
}

.ast-flyout-menu-enable.ast-header-break-point .main-header-bar .main-header-bar-navigation #site-navigation, .ast-flyout-menu-enable.ast-header-break-point .ast-primary-menu-disabled .ast-merge-header-navigation-wrap {
  width: 500px !important;
  padding-bottom: 0;
  max-width: 100%;
}

.ast-header-break-point .main-navigation ul .button-custom-menu-item a, .ast-header-break-point .main-navigation ul li a {
  border: 0;
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .main-header-menu {
  border: 0;
  line-height: 1.8;
}

.main-header-menu .menu-item, .main-header-bar .ast-masthead-custom-menu-items {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#menu-bottom-section {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.hidden-mobile-menu {
  width: 100%;
}

.hidden-mobile-menu .heart-svg:before {
  display: none;
}

@media (min-width: 992px) {
  .hidden-mobile-menu {
    display: none;
  }
}

@media (max-width: 991px) {
  .sn_btnwrap {
    display: none;
  }
}

.sn-shop-page {
  text-align: center;
  margin-bottom: 3em;
}

.sn_user_login_status {
  white-space: nowrap;
  margin-right: 40px;
}

.sn_user_login_status a {
  color: inherit;
}

@media (max-width: 767px) {
  .sn_user_login_status {
    display: none;
  }
}

@media (max-width: 767px) {
  .ast-flex.main-header-container {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

/*===============================
=            Buttons            =
===============================*/
.button {
  display: inline-block;
}

.button.sn_header_btn {
  white-space: nowrap;
  border-radius: 7px !important;
}

.button.noradius {
  border-radius: 0px !important;
}

.btn-round {
  background: #fff;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  font-weight: 700;
}

.radius-5 {
  border-radius: 5px !important;
}

button.process-to-payment {
  background-color: #2c2e2f !important;
}

@media (max-width: 767px) {
  .smbigbtn .elementor-button {
    width: 260px;
  }
}

/*=====  End of Buttons  ======*/
/*================================
=            Hero Slider         =
================================*/
.sn-hero-slider-wrap {
  position: relative;
}

.sn-hero-slider-wrap .ast-container {
  max-width: 1440px;
  padding: 0;
}

@media (max-width: 767px) {
  .sn-hero-slider-wrap .ast-container {
    padding: 0;
  }
}

.sn-slide {
  position: relative;
  margin: 0 auto;
}

.sn_slider-caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 640px;
  margin-left: 60px;
}

.sn_slider-caption h2 {
  margin-bottom: 18px;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .sn_slider-caption h2 {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .sn_slider-caption h2 {
    font-size: 74px;
    line-height: 1.3;
    white-space: nowrap;
  }
}

.sn_slider-caption p {
  margin-bottom: 40px;
  text-align: left;
  font-size: 26px;
  line-height: 1.18;
}

@media (max-width: 767px) {
  .sn_slider-caption p {
    text-align: center;
    margin-bottom: 30px;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

@media (max-width: 767px) {
  .sn_slider-caption {
    position: unset;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
  }
}

.sn_slideshow_img img {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .sn_slideshow_img img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    height: 390px;
  }
}

img.hero_shape_1,
img.hero_shape_2 {
  position: absolute;
}

img.hero_shape_1 {
  left: 0;
  top: 44px;
}

img.hero_shape_2 {
  right: 0;
  bottom: 20px;
}

.hero_shape_3 {
  z-index: 999;
  cursor: pointer;
  bottom: 20px;
  left: 7px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
  position: fixed;
}

.hero_shape_3.animating {
  -webkit-animation: scale_pulse 1s infinite;
     -moz-animation: scale_pulse 1s infinite;
          animation: scale_pulse 1s infinite;
}

.hero_shape_3:hover {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes scale_pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes scale_pulse {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.05);
         transform: scale(1.05);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}

@keyframes scale_pulse {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.sn_slideshow-btn {
  text-align: center;
  margin-top: 45px;
}

.discover_shape_left,
.discover_shape_right {
  position: absolute;
}

img.discover_shape_left {
  left: 0;
  bottom: 0;
}

img.discover_shape_right {
  right: 0;
  bottom: 10px;
}

.sn-testimonial-wrap {
  max-width: 880px;
  margin: 0 auto;
}

.review-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.review-stars img {
  width: 25px !important;
  margin: 0 2px;
}

@media (max-width: 767px) {
  .review-stars img {
    width: 15px !important;
  }
}

.sn_testimonial-caption {
  text-align: center;
  font-family: Aquawax Pro RG;
  background: #fff;
  max-width: 280px;
  margin: 0 auto;
  padding: 12px 12px;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}

.sntt-name-loc .loc {
  font-style: italic;
}

.sntt-name-loc .name {
  font-family: Aquawax Pro Medium;
}

.sntt-name-loc {
  margin-top: 3px;
}

@media (max-width: 767px) {
  .sntt-name-loc {
    font-size: 11px;
  }
}

.sn-tmslide {
  margin: 0 15px;
}

@media (max-width: 767px) {
  .sn-tmslide {
    margin: 0 7px;
  }
}

@media (max-width: 767px) {
  .sntt-desc {
    font-size: 10px;
  }
}

.goodbye-left-img,
.goodbye-right-img,
.goodbye-scroll-img {
  position: absolute;
}

.goodbye-left-img {
  left: 0;
  bottom: -72px;
}

.sn-goodbye-wrap {
  position: relative;
  padding: 55px 0 130px;
}

@media (max-width: 767px) {
  .sn-goodbye-wrap {
    padding: 45px 0;
  }
}

.goodbye-right-img {
  right: 0;
  bottom: 85%;
}

@media (max-width: 767px) {
  .goodbye-right-img {
    width: 47px;
    top: -20px;
    bottom: unset;
  }
}

.goodbye-scroll-img {
  right: 50px;
  bottom: -65px;
}

footer#colophon {
  position: relative;
  z-index: 101;
}

footer#colophon a:hover,
footer#colophon a:focus {
  color: gray;
}

footer#colophon a:hover i,
footer#colophon a:focus i {
  color: gray;
}

.footer_modal_5 {
  position: fixed;
  z-index: 2;
  cursor: pointer;
  bottom: 20px;
  left: 7px;
}

.sn-footer-widgets * {
  color: #fff;
}

.sn-footer-widgets ul {
  list-style: none;
  margin-left: 10px;
}

.sn-footer-copyright a {
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 252px;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 16px;
  font-family: Aquawax Pro RG;
  line-height: 1.35;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1a1a1a transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ast-separate-container #primary.m0 {
  margin: 0;
}

p.status {
  font-size: 12px;
  color: #F44336;
}

.give5-header-outer {
  position: relative;
}

.give5-header-outer .give5-left {
  position: absolute;
  left: 0;
  bottom: -50px;
}

.give5-header-outer .give5-right {
  position: absolute;
  right: 0;
  top: 25px;
}

.give5-header-bg {
  background-color: #f5faff;
  text-align: center;
  padding: 25px 0;
  position: relative;
}

.give5-header-bg h1 {
  margin-bottom: 25px;
}

.give5-header-bg p {
  font-size: 24px;
  font-family: Aquawax Pro Bold;
}

.giv5-love-area {
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-top: 20px;
}

.giv5-love-img {
  width: 618px;
  margin: 0 auto;
  position: relative;
}

.giv5-love-img img {
  max-width: unset;
  float: right;
}

.giv5-love-img .give5-bonus {
  position: absolute;
  right: 0px;
  -webkit-transform: translateX(110%);
     -moz-transform: translateX(110%);
      -ms-transform: translateX(110%);
       -o-transform: translateX(110%);
          transform: translateX(110%);
  top: 20px;
  max-width: 271px;
}

.give5-bonus-text {
  -webkit-transform: rotate(-15.836deg) translateY(-50%);
     -moz-transform: rotate(-15.836deg) translateY(-50%);
      -ms-transform: rotate(-15.836deg) translateY(-50%);
       -o-transform: rotate(-15.836deg) translateY(-50%);
          transform: rotate(-15.836deg) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.give5-bonus-text h4 {
  font-size: 40px;
}

.login-register-area {
  position: absolute;
  width: 100%;
  margin-top: 110px;
}

.logged-in:not(.page-template-tpl-processes) .login-register-area {
  margin-top: 143px;
}

.sn-form-area input {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #1a1a1a;
  border-radius: 7px;
  height: 50px;
  background-color: #fff;
}

.sn-form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.sn-form-header .frmh-text {
  font-size: 14px;
  font-family: Aquawax Pro RG;
}

.sn-form-header .form-type {
  font-size: 22px;
  font-family: Aquawax Pro Bold;
}

.sn-form-toggle {
  cursor: pointer;
  font-family: Aquawax Pro Bold;
}

.sn-form-area {
  margin-top: 20px;
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
}

.logged-in:not(.page-template-tpl-processes) .sn-form-area {
  margin-top: 35px;
}

.signup-htext h5,
.give5-bottom-text h5 {
  line-height: 1.5;
}

.forgot-pass {
  font-size: 14px;
  color: #1a1a1a;
  font-family: Aquawax Pro Bold;
  margin-top: 18px;
  display: inline-block;
}

.give5-bottom-wrap {
  background-color: #1a1a1a;
  padding-bottom: 60px;
  padding-top: 20px;
  margin-top: -1px;
}

.give5-bottom-wrap * {
  color: #fff;
}

.give5-bottom-outer {
  position: relative;
  margin-top: -350px;
}

.give5-bottom-text,
.offer-details-hfe {
  display: inline-block;
  max-width: 370px;
}

.give5-bottom-text .elementor-icon-list-items,
.offer-details-hfe .elementor-icon-list-items {
  position: relative;
}

.give5-bottom-text .elementor-icon-list-icon,
.offer-details-hfe .elementor-icon-list-icon {
  position: absolute;
  left: 0;
}

.give5-half-right {
  float: right;
  width: 50%;
  text-align: center;
}

.give5-container {
  overflow: hidden;
}

/*Offer Details*/
.offer-details-hfe {
  float: left;
  position: relative;
  z-index: 9;
}

.offer-details-hfe .elementor-heading-title,
.offer-details-hfe .elementor-icon-list-text,
.offer-details-hfe .elementor-social-icon i {
  color: #1a1a1a !important;
}

.offer-details-hfe svg text,
.offer-details-hfe svg tspan {
  fill: #fff;
}

.offer-details-hfe svg path {
  fill: #1a1a1a;
}

.offer-details-wrap {
  overflow: hidden;
}

.offer-details-wrap .giv5-love-area {
  overflow: unset;
  float: right;
  margin-top: 0;
}

.offer-details-wrap .frmh-text {
  display: none;
}

.offer-details-hfe-inner {
  margin-top: 80px;
}

.give5-bottom-wrap a.elementor-icon:hover,
.give5-bottom-wrap a.elementor-icon:focus {
  color: gray !important;
}

.give5-bottom-wrap a.elementor-icon:hover i,
.give5-bottom-wrap a.elementor-icon:focus i {
  color: gray !important;
}

.pos_r {
  position: relative;
}

.popup-active {
  overflow: hidden;
}

.popup-active body:before {
  position: fixed;
  content: "";
  background: rgba(26, 26, 26, 0.6);
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.sn_popup_close_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  position: relative;
  z-index: 9;
}

.sn_popup_container,
.sns-popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #F5FAFF;
  z-index: 99999;
}

.sn_popup_container .ast-container,
.sns-popup .ast-container {
  max-width: 700px;
}

.sn_popup_container .single_add_to_cart_button,
.sns-popup .single_add_to_cart_button {
  display: none !important;
}

.sns-popup-sm {
  max-width: 800px;
  margin: 0 auto;
  max-height: 520px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.sns-popup-md {
  max-width: 1400px;
  margin: 0 auto;
  max-height: 760px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.snpopup-content .after-title {
  line-height: 1.4;
  margin-bottom: 23px;
}

.sn-product-wrap-outer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  top: 0;
  padding: 80px 0;
}

.sn-product-wrap-outer .button {
  border-radius: 0 !important;
  min-width: 100%;
}

.snpopup-thumbnail img {
  max-height: 163px;
  width: auto;
}

.snpopup-container {
  margin-left: -30px;
  margin-right: -30px;
  position: relative;
  overflow: hidden;
}

.snpopup-container .col-6 {
  width: 50%;
  float: left;
  padding: 0 30px;
}

.snpopup-container .col-12 {
  width: 100%;
  float: left;
  padding: 0 30px;
}

.snpopup-container.ov {
  overflow: visible;
}

.snpopup-fakespace {
  display: block;
  height: 54px;
}

.snpopup-price {
  margin: 43px 0;
  font-size: 22px;
}

.radio-container {
  margin-bottom: 20px;
  display: block;
}

.radio-container .checkmark {
  clear: both;
  background: #fff;
  padding: 19px 0;
  text-align: center;
  border-radius: 9px;
  cursor: pointer;
  border: 3px solid transparent;
  font-family: Aquawax Pro Bold;
}

.radio-container input {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: hidden;
}

.radio-container input:checked ~ .checkmark {
  border-color: #1a1a1a;
}

.purchase_type-container .tooltip {
  position: absolute;
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.orbtn {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.splendid_logo_loader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .1;
  -webkit-animation: opacity_pulse 1.5s infinite;
     -moz-animation: opacity_pulse 1.5s infinite;
          animation: opacity_pulse 1.5s infinite;
}

@-webkit-keyframes opacity_pulse {
  0% {
    opacity: .1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .1;
  }
}

@-moz-keyframes opacity_pulse {
  0% {
    opacity: .1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .1;
  }
}

@keyframes opacity_pulse {
  0% {
    opacity: .1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .1;
  }
}

/*Homepage Give 5*/
.dark-bg {
  background-color: #1a1a1a;
}

.sns-popup.dark-bg svg g {
  stroke: #fff;
}

.sns-popup .close_btn_div {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 30px;
}

.sns-popup-inner {
  height: 100%;
  overflow: auto;
}

.sns-popup-inner .elementor[data-elementor-type],
.sns-popup-inner .elementor-inner,
.sns-popup-inner .elementor-section-wrap {
  height: 100%;
}

.sns-popup-inner .elementor .popup-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sns-popup-inner .elementor .popup-center {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.show_on_sns,
.show_on_otp {
  display: none !important;
}

.show_on_sns.show,
.show_on_otp.show {
  display: block !important;
}

.close-popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
}

.sns-popup[style="display: block;"] + .close-popup-overlay {
  display: block;
}

/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
  font-family: 'star';
  src: url("../fonts/star.eot");
  src: url("../fonts/star.eot?#iefix") format("embedded-opentype"), url("../fonts/star.woff") format("woff"), url("../fonts/star.ttf") format("truetype"), url("../fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WooCommerce';
  src: url("../fonts/WooCommerce.eot");
  src: url("../fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("../fonts/WooCommerce.woff") format("woff"), url("../fonts/WooCommerce.ttf") format("truetype"), url("../fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal;
}

.woocommerce a.remove {
  border: 0;
}

.woocommerce form .quantity .minus,
.woocommerce form .quantity .plus,
.woocommerce .quantity input[type=number] {
  border-color: #1a1a1a !important;
  color: #1a1a1a !important;
}

.woocommerce ul.products li.post-394, .woocommerce ul.products li.post-462, .woocommerce ul.products li.post-643 {
  display: none !important;
}

.woocommerce ul.products li.product a img {
  width: unset;
}

.woocommerce ul.products li.sn-find-focus-row {
  border-top: 1px solid #1a1a1a;
  padding: 40px 0 !important;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.woocommerce ul.products li:last-child {
  border-bottom: 1px solid #1a1a1a;
}

.woocommerce ul.products li .ssff-price .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 21px;
}

.woocommerce ul.products li .ssff-price .price del {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
}

.woocommerce ul.products li .ssff-price .price ins {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  font-weight: 400;
}

.woocommerce .sn-checkout-login-form form.login {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 0;
}

.woocommerce .sn-checkout-login-form form.login .form-row,
.woocommerce .sn-checkout-login-form form.login .form-row.ast-float-label {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.woocommerce .sn-checkout-login-form form.login .form-row label,
.woocommerce .sn-checkout-login-form form.login .form-row.ast-float-label label {
  display: none;
}

.woocommerce .sn-checkout-login-form form.login .form-row input[type=text],
.woocommerce .sn-checkout-login-form form.login .form-row input[type=email],
.woocommerce .sn-checkout-login-form form.login .form-row input[type=password],
.woocommerce .sn-checkout-login-form form.login .form-row.ast-float-label input[type=text],
.woocommerce .sn-checkout-login-form form.login .form-row.ast-float-label input[type=email],
.woocommerce .sn-checkout-login-form form.login .form-row.ast-float-label input[type=password] {
  padding: 14px 10px;
  height: 54px;
  margin-bottom: 20px;
}

.woocommerce .sn-checkout-login-form form.login .message {
  margin-bottom: 20px;
}

.woocommerce .sn-checkout-login-form form.login .woocommerce-form-login__submit {
  border-radius: 7px !important;
}

.woocommerce .sn-checkout-login-form form.login .lost_password {
  margin-top: 8px;
}

.woocommerce .sn-checkout-login-form form.login .lost_password a {
  color: inherit;
}

.woocommerce-page #content table.cart .product-price {
  display: none;
}

.woocommerce-page table.shop_table {
  border: 0 !important;
}

.woocommerce-page table.shop_table thead {
  display: none;
}

.woocommerce-page #content table.cart .button[disabled] {
  visibility: hidden;
}

.woocommerce-page table.cart .product-thumbnail {
  word-wrap: break-word;
  max-width: 155px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title, .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  font-family: Subway !important;
  font-size: 28px;
}

.woocommerce #content table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce table.cart img {
  height: 75px;
  width: auto;
  max-width: 100%;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table td,
.woocommerce-page table.shop_table th {
  padding: 1.7em 1em;
  border-color: #1a1a1a;
}

.ssff-text .text-sm {
  font-family: Aquawax Pro RG;
}

.ssff-text p {
  font-size: 21px;
}

.ssff-text p:first-child {
  margin-bottom: .5em;
}

.snff-thumbnail {
  width: 190px;
}

.snff-thumbnail img {
  height: 78px;
  width: auto;
}

.woocommerce-product-gallery {
  overflow: hidden;
}

.woocommerce-product-gallery .owl-nav button.owl-prev,
.woocommerce-product-gallery .owl-nav button.owl-next {
  height: 50px;
  width: 50px;
}

.woocommerce-product-gallery .owl-nav button.owl-prev:hover svg path,
.woocommerce-product-gallery .owl-nav button.owl-next:hover svg path {
  stroke: #fff !important;
}

.woocommerce-product-gallery .owl-nav button.owl-prev {
  left: 0;
}

.woocommerce-product-gallery .owl-nav button.owl-next {
  right: 0;
}

.woocommerce-product-gallery__image a {
  display: block;
}

.woocommerce-product-gallery-thumb {
  margin: 0 -5px;
}

.woocommerce-product-gallery-thumb .item-thumb {
  padding: 10px 5px 0;
}

.woocommerce-product-gallery-thumb .item-thumb img {
  height: 95px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.sn-product-desc {
  font-size: 22px;
}

.sn-product-desc h5 {
  font-size: 22px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .sn-product-desc h5 {
    font-size: 16px;
  }
}

.sn-product-desc li {
  margin-bottom: 15px;
  line-height: 1.3;
}

.sn-product-desc ul {
  margin-left: 24px;
}

.woocommerce-message, .woocommerce-error, .woocommerce-info {
  border: 0;
  background: transparent;
  padding-left: 35px;
}

.woocommerce-message:before, .woocommerce-message:before, .woocommerce-message:before, .woocommerce-error:before, .woocommerce-error:before, .woocommerce-error:before, .woocommerce-info:before, .woocommerce-info:before, .woocommerce-info:before {
  left: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .elementor-widget-sn-woocommerce-product-rating .star-rating {
    font-size: 12px;
  }
  .elementor-widget-sn-woocommerce-product-rating .woocommerce-review-link {
    font-size: 12px;
    line-height: 0 !important;
    vertical-align: middle;
  }
}

/**
 * My Account Style
 */
.woocommerce-MyAccount-navigation-link {
  list-style: none;
  border-bottom-width: 0;
}

.woocommerce-MyAccount-navigation-link a {
  display: inline-block;
  padding: 5px 0;
  color: #1a1a1a;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  margin-bottom: 18px;
  position: relative;
}

.woocommerce-MyAccount-navigation-link a .count {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 14px;
  font-family: Aquawax Pro Bold;
  -webkit-transform: translate(100%, -100%);
     -moz-transform: translate(100%, -100%);
      -ms-transform: translate(100%, -100%);
       -o-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--my-rewards a {
  pointer-events: none;
}

.woocommerce-MyAccount-navigation-link:last-child {
  border-bottom-width: 1px;
}

.woocommerce-MyAccount-navigation-link.is-active a {
  border-bottom-color: inherit;
  display: inline-block;
  font-family: Aquawax Pro Bold;
}

.woocommerce-MyAccount-navigation > ul {
  margin: 0;
}

.woocommerce-account .woocommerce-EditAccountForm .woocommerce-Button {
  margin-top: 1em;
  margin-left: 3px;
}

.dfms-wrap img.hero_shape_3 {
  bottom: 0;
}

.elementor-widget-tabs .elementor-tab-desktop-title {
  border-color: #D4D4D2;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  width: 100%;
  text-align: center;
}

.elementor-widget-tabs .elementor-tabs-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title a {
  white-space: nowrap;
}

.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-content {
  border-style: none solid solid;
}

@media (max-width: 767px) {
  .elementor-widget-tabs .elementor-tab-desktop-title {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 8px 5px;
  }
}

.product-tab-area {
  margin-left: 10px;
  margin-right: 10px;
}

.elementor-tab-mobile-title {
  display: none;
  border-width: 0 !important;
}

.woocommerce nav.woocommerce-pagination {
  text-align: center;
}

.woocommerce #tab-reviews #reviews .woocommerce-Reviews-title {
  display: none;
}

.woocommerce #tab-reviews #reviews #comments,
.woocommerce #tab-reviews #reviews #review_form_wrapper {
  min-width: 100%;
  padding: 0 !important;
  float: none;
}

.woocommerce #tab-reviews #reviews #comments ol.commentlist {
  margin-left: -25px;
  margin-right: -25px;
  width: auto;
}

.woocommerce #tab-reviews #reviews #comments ol.commentlist li {
  width: 50%;
  float: left;
  padding: 0 25px;
  border: 0;
}

.woocommerce #tab-reviews #reviews #comments ol.commentlist li .comment-text {
  padding: 0;
  margin: 0;
}

.woocommerce #tab-reviews #reviews #comments ol.commentlist li img.avatar {
  display: none;
}

.woocommerce #tab-reviews #reviews #comments ol.commentlist li .comment_container {
  position: relative;
  padding-top: 17px;
}

.woocommerce #tab-reviews #reviews #comments ol.commentlist li .comment_container:before {
  height: 1px;
  content: "";
  position: absolute;
  width: 100%;
  background: #000;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .woocommerce #tab-reviews #reviews #comments ol.commentlist li {
    width: 100%;
    float: none;
  }
}

.woocommerce #tab-reviews #reviews #review_form_wrapper {
  margin-top: 60px;
}

.woocommerce .add-review-btn-wrap {
  text-align: center;
  display: block;
  margin-top: 60px;
}

.woocommerce .add-review-btn-wrap .add-review-btn {
  border-radius: 0;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  background: transparent;
}

@media (max-width: 767px) {
  .woocommerce #reviews #review_form {
    padding: 10px 10px;
  }
  .woocommerce .comment-reply-title {
    font-size: 22px;
    padding: 0;
    display: block;
    margin-bottom: 8px;
  }
}

.woocommerce .star-rating, .woocommerce .comment-form-rating .stars a, .woocommerce .star-rating::before {
  color: #ffcc00;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li {
  border: 0;
}

.woocommerce nav.woocommerce-pagination ul li > span.current, .woocommerce nav.woocommerce-pagination ul li > .page-numbers {
  border: 0;
  padding: 4px !important;
  color: #1a1a1a;
  min-width: 30px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  background: #1a1a1a;
  color: #f7f7f7;
}

section.woocommerce-order-details,
section.woocommerce-customer-details {
  display: none;
}

.woocommerce-order-received .entry-header,
.woocommerce-order-received .site-header {
  display: none;
}

.woocommerce-order-received #primary {
  padding: 0;
  margin: 0 !important;
}

.free_shipping_tag {
  position: absolute;
  top: 0;
  background: #ffddb4;
  font-size: 11px;
  padding: 6px 10px;
}

.woocommerce-MyAccount-navigation ul li > a:before {
  display: none;
}

.woocommerce form.checkout_coupon,
.woocommerce-form-coupon-toggle {
  display: none !important;
}

.woocommerce.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review_heading, .woocommerce-page.woocommerce-checkout form #order_review, .woocommerce-page.woocommerce-checkout form #order_review_heading, .woocommerce.woocommerce-checkout form #customer_details.col2-set, .woocommerce-page.woocommerce-checkout form #customer_details.col2-set {
  float: none;
  min-width: 100%;
  clear: both;
}

.sn-checkout-right {
  width: 40%;
  position: fixed;
  right: 0;
  background: #f7f7f7;
  padding: 100px 50px;
  top: 0;
  height: 100%;
  overflow: auto;
}

.sn-checkout-left {
  width: 60%;
  background: #fff;
  padding-left: 100px;
  padding-right: 50px;
}

.sn-form-coupon {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #808080;
  padding-top: 33px;
  padding-bottom: 43px;
}

.sn-form-coupon #sn_coupon_submit {
  width: 35%;
  /* font-family: Aquawax Pro RG; */
  line-height: 1;
  padding-left: 0;
  padding-right: 0;
  float: right;
}

.sn-form-coupon #sn_coupon_code {
  width: 62%;
  border-radius: 7px;
  border-color: #1a1a1a;
  padding-right: 20px;
  float: left;
}

.woocommerce-page.woocommerce-checkout form #order_review {
  padding: 0;
  border-width: 1px;
  border-color: #808080;
  border-radius: 9px;
  overflow: hidden;
}

.sn-cart-item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sn-cart-item .product-image {
  width: 65px;
  height: 91px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 65px;
}

.sn-cart-item .product-quantity {
  position: absolute;
  top: 0;
  background: grey;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  -webkit-transform: translate(15px, -15px);
     -moz-transform: translate(15px, -15px);
      -ms-transform: translate(15px, -15px);
       -o-transform: translate(15px, -15px);
          transform: translate(15px, -15px);
}

.sn-cart-item .product-datas {
  width: 100%;
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sn-cart-item .product-name {
  padding-right: 30px;
}

.sn-cart-item .product-name div {
  font-size: 18px;
}

.sn-cart-item .product-name div:not(:last-child) {
  margin-bottom: 10px;
}

.woocommerce #content table.cart td,
.woocommerce-page #content table.cart td {
  border-top-width: 1px;
  padding: 2em 1em;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  min-width: 100%;
}

.price_subscribe .subscription-details {
  display: none;
}

.show_on_pi {
  display: none;
}

.sn_checkout-title {
  margin-top: 45px;
}

#billing_postcode_field,
#billing_address_1_field,
#billing_city_field,
#shipping_postcode_field {
  clear: left !important;
}

#billing_email_field {
  clear: both !important;
}

span.woocommerce-input-wrapper > strong {
  border: 1px solid grey;
  border-radius: 7px !important;
  padding: .75em .8em;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-weight: normal;
}

.sn_checkout-steps {
  margin: 42px 0 65px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sn_checkout-steps svg {
  display: block;
}

.sn_checkout-steps .step-count {
  height: 25px;
  width: 25px;
  background: #1a1a1a;
  color: #fff;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  margin-right: 8px;
  font-weight: normal;
}

.sn_checkout-steps li {
  padding: 0 7px;
}

.sn_checkout-steps li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
}

.sn_checkout-steps li a.inactive {
  color: #808080;
}

.sn_checkout-steps li a.inactive .step-count {
  background: transparent;
  color: #808080;
  border: 1px solid;
}

.sn-checkout-login-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.sn-checkout-login-header .contact-info {
  font-size: 22px;
}

.sn-checkout-login-header .have-acc a {
  color: inherit;
}

.skip_from_login,
.skip_from_signup {
  margin-left: 20px;
  margin-right: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.create-skip-pass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.form-row-pass,
.form-row-pass .input-text,
.sn-form-row,
.sn-form-row .input-text {
  width: 100%;
}

.form-row-create-skip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sn_createaccount-wrap,
.sn_checkout-newsletter-wrap {
  margin-top: 25px;
}

.sn_checkout_signup_wrap {
  display: none;
}

.woocommerce-form-login[style*="none"] ~ .sn_checkout_signup_wrap {
  display: block;
}

.woocommerce-account-fields {
  display: none;
}

.checkout-field-title {
  margin-bottom: 16px;
}

form.woocommerce-checkout {
  margin-top: 60px;
  padding-bottom: 25px;
}

.sn_checkout-section-heading {
  margin-bottom: 5px;
  margin-top: 40px;
  overflow: hidden;
}

.sn_checkout-section-heading p {
  margin-bottom: 15px;
}

.wc_payment_method {
  padding: 7px 20px 7px 11px;
  border-bottom: 1px solid #808080;
}

.wc_payment_method:last-child {
  border: 0;
}

.sn_checkout-menu {
  text-align: center;
  border-top: 1px solid #808080;
  margin-top: 40px;
  padding-top: 25px;
}

.sn_checkout-menu a {
  color: inherit;
}

.sn_checkout-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sn_checkout-menu ul li {
  display: inline;
}

.sn_checkout-menu ul li a {
  padding: 0 25px;
  color: #808080;
}

.sn_checkout-menu ul li a:hover {
  color: #1a1a1a;
}

.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide {
  clear: none !important;
}

.woocommerce form .form-row,
.woocommerce-page form .form-row {
  padding: 3px 8px !important;
  float: left;
}

.woocommerce form .woocommerce-form-login .form-row,
.woocommerce-page form .woocommerce-form-login .form-row {
  padding: 0;
}

.woocommerce .wc_payment_methods .form-row-wide,
.woocommerce-page .wc_payment_methods .form-row-wide {
  width: 100%;
}

.woocommerce .wc_payment_methods .form-row-first,
.woocommerce .wc_payment_methods .form-row-last,
.woocommerce-page .wc_payment_methods .form-row-first,
.woocommerce-page .wc_payment_methods .form-row-last {
  width: 50%;
}

.woocommerce .wc_payment_method.active,
.woocommerce-page .wc_payment_method.active {
  background: #f7f7f7;
}

.woocommerce .wc-stripe-elements-field,
.woocommerce .wc-stripe-iban-element-field,
.woocommerce-page .wc-stripe-elements-field,
.woocommerce-page .wc-stripe-iban-element-field {
  padding: 14px;
}

.form-row-half {
  width: 50%;
}

.form-row-two-third {
  width: 66.6%;
}

.form-row-one-third {
  width: 33.3%;
}

.form-row-one-forth {
  width: 25%;
}

.form-row-full {
  width: 100%;
}

.woocommerce-billing-fields .form-row label,
.shipping_address .form-row label {
  display: none !important;
}

.woocommerce-billing-fields .form-row .input-text,
.shipping_address .form-row .input-text {
  width: 100%;
  height: 52px;
}

.woocommerce-billing-fields .form-row .select {
  width: 100%;
  height: 52px;
}

.sn-form-row .input-text,
.form-row-pass .input-text {
  width: 100%;
  height: 52px;
}

.woocommerce-billing-fields__field-wrapper {
  overflow: hidden;
  margin: 0 -7px;
}

body.woocommerce-checkout .form-row input[type=text],
body.woocommerce-checkout .form-row input[type=tel],
body.woocommerce-checkout .form-row input[type=password],
body.woocommerce-checkout .form-row input[type=email],
body.woocommerce-checkout .sn-form-row input[type=text],
body.woocommerce-checkout .sn-form-row input[type=tel],
body.woocommerce-checkout .sn-form-row input[type=password],
body.woocommerce-checkout .sn-form-row input[type=email],
body.woocommerce-checkout .form-row-pass input[type=text],
body.woocommerce-checkout .form-row-pass input[type=tel],
body.woocommerce-checkout .form-row-pass input[type=password],
body.woocommerce-checkout .form-row-pass input[type=email] {
  border: 1px solid #808080;
  border-radius: 7px !important;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background: #808080;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

body:not(.logged-in) .thwcfd-field-email {
  display: none;
}

.sn-checkout-button {
  margin-top: 50px;
  margin-bottom: 40px;
}

.sn-checkout-button button {
  width: 350px;
}

.subscrive-save-tos {
  margin-top: 50px;
  display: none;
}

.sn-info {
  margin-bottom: 8px;
  font-size: 18px;
}

.sn-billing_email {
  margin-bottom: 30px;
}

.sn-customer-billing-info-heading {
  margin-bottom: 30px;
}

.sn-customer-billing-info {
  border-bottom: 1px solid gray;
  margin-bottom: 27px;
  padding-bottom: 18px;
}

.edit-billing-info {
  float: right;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  font-weight: bold;
}

#woo_pp_ec_button_checkout {
  display: block !important;
}

.sn-amazon-pay {
  width: 49%;
  max-width: 49%;
  float: left;
  padding: 14px 15px 11px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #2C2E2F;
}

.sn-amazon-pay svg {
  display: block;
  margin: 0 auto;
}

.sn-amazon-pay:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  background: #2c2e2f;
}

.wcppec-checkout-buttons {
  float: right;
  width: 49%;
  margin: 0;
}

.wc-forward {
  width: 100%;
  text-align: center;
}

.wcppec-checkout-buttons__separator {
  display: none;
}

.cart-pay-seperator {
  text-align: center;
  display: block;
  clear: both;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cart-pay-seperator:after {
  content: "";
  background: gray;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.cart-pay-seperator span {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 0 23px;
}

.woocommerce-cart .wc-proceed-to-checkout {
  clear: both;
  overflow: hidden;
  max-width: 620px;
  margin: 0 auto;
}

.woocommerce-cart .wc-proceed-to-checkout a.wc-forward {
  background-color: #2c2e2f;
}

.sn-express-checkout {
  border: 1px solid gray;
  border-radius: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  padding: 20px 20px 0;
  clear: both;
  margin-bottom: 30px;
}

.sn-express-checkout .sn-amazon-pay {
  width: 350px;
}

#woo_pp_ec_button_checkout {
  width: 350px;
  float: right;
  margin-bottom: 18px;
  max-width: 49%;
}

.sn-express-checkout-text {
  position: absolute;
  top: -12px;
  background: white;
  text-align: center;
  padding: 0 20px;
}

.wc-amazon-payments-advanced-populated,
#pay_with_amazon {
  display: none !important;
}

.sn_notifications span {
  margin-bottom: 6px;
  display: block;
}

.sn_notifications span:last-child {
  margin-bottom: 30px;
}

.sn_notifications .sn-danger {
  color: #ff0000;
}

.wc_payment_methods .gateway-icon {
  display: none;
}

.wc_payment_methods .gateway-title {
  padding-left: 3px;
}

.wc_payment_methods .gateway-title_paypal {
  display: inline-block;
  vertical-align: middle;
  padding-left: 11px;
}

.woocommerce-shipping-fields {
  padding: 0;
  border-radius: 7px;
  border: 1px solid #808080;
  overflow: hidden;
}

.seperator {
  width: 100%;
  height: 1px;
  background: #808080;
}

.sn_radio-wrap {
  padding: 18px 11px;
}

.sn_radio-wrap.active {
  background: #f7f7f7;
}

.shipping_address {
  padding: 0 8px 10px;
  overflow: hidden;
  background: #f7f7f7;
}

.sn_checkout_loggedin_text {
  margin-bottom: 30px;
}

.sn_checkout_loggedin_text a {
  color: inherit;
}

.shipping-label,
.shipping-label-sep {
  display: none;
}

.shipping-label[data-label*="free"],
.shipping-label-sep[data-label*="free"] {
  display: block;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr th {
  padding-top: 3px;
  font-size: 16px;
  padding-bottom: 3px;
  vertical-align: middle;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:first-child td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:first-child th {
  padding-top: 10px;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:nth-last-child(2) td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:nth-last-child(2) th {
  padding-bottom: 20px;
}

.woocommerce-page.woocommerce-checkout table.shop_table tr.order-total td,
.woocommerce-page.woocommerce-checkout table.shop_table tr.order-total th {
  border-top: 1px solid gray;
  font-family: 'Aquawax Pro Bold';
  font-weight: normal;
  padding-top: 8px;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr.woocommerce-shipping-totals td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr.woocommerce-shipping-totals td * {
  font-weight: normal !important;
}

.cs_star {
  display: inline-block;
  cursor: pointer;
}

.cs_star svg {
  display: block;
}

.cs_star.selected svg path, .cs_star.hover svg path {
  fill: #fc0;
}

.cs_radio_select {
  overflow: hidden;
  margin-left: -22px;
  margin-right: -22px;
  margin-top: 40px;
}

.cs_radio_select .cs_select_text {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: #f7f7f7;
  padding: 20px 40px;
  text-align: center;
  width: 244px;
  font-family: Aquawax Pro Bold;
  border-radius: 11px;
}

.cs_radio_select label {
  float: left;
  cursor: pointer;
  padding: 0 22px;
}

.cs_radio_select input {
  display: none;
}

.cs_radio_select input:checked ~ .cs_select_text,
.cs_radio_select label:hover .cs_select_text {
  border-color: #1a1a1a;
}

.cs_form_row {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.cs_form_row .cs_svg,
.cs_form_row .cs_field_area {
  float: left;
  padding: 0 15px;
}

.cs_form_row .cs_svg {
  width: 90px;
  text-align: center;
}

.cs_form_row .cs_field_area {
  width: -moz-calc( 100% - 90px);
  width: calc( 100% - 90px);
  padding-top: 12px;
}

.cs_form_row .cs_field_area.w100 {
  width: 100%;
}

.cs_form_row p {
  font-size: 24px;
  line-height: 1.3;
}

.cs_star_select {
  margin-top: 30px;
}

.sn_has_optional {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sn_optional_rating {
  padding-right: 70px;
  white-space: nowrap;
}

.sn_optional_field {
  width: 100%;
}

.sn_textarea_review {
  margin-top: 50px;
}

.sn_textarea {
  min-height: 130px;
  resize: none;
}

.cs_submit {
  margin-top: 18px;
  margin-bottom: 30px;
  width: 320px;
}

.survey_error .survey-error-msg {
  display: block;
}

.survey_error .start_survey_button .elementor-button {
  outline-width: 2px;
  outline-color: red;
  outline-style: solid;
  outline-offset: 3px;
}

.email_capture_box {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}

.email_capture_box input[type=email] {
  background: transparent;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  width: 100%;
}

.email_capture_box .btn_link {
  border: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  padding: 0 13px;
  border-radius: 0;
  background: transparent;
}

.claim_my_offer_box {
  margin-left: 0;
  width: 320px;
}

.claim_my_offer_box input[type=email] {
  border: 2px solid #1a1a1a;
  width: 100%;
  margin-bottom: 13px;
  height: 46px;
}

.claim_my_offer_box .snec_submit {
  font-weight: normal !important;
  width: 100%;
}

.splendid_email_capture input[type=email]::-webkit-input-placeholder {
  color: #fff;
}

.splendid_email_capture input[type=email]::-moz-placeholder {
  color: #fff;
}

.splendid_email_capture input[type=email]:-ms-input-placeholder {
  color: #fff;
}

.splendid_email_capture input[type=email]::-ms-input-placeholder {
  color: #fff;
}

.splendid_email_capture input[type=email]::placeholder {
  color: #fff;
}

.splendid_email_capture.claim_my_offer_box input[type=email]::-webkit-input-placeholder {
  color: #1a1a1a;
}

.splendid_email_capture.claim_my_offer_box input[type=email]::-moz-placeholder {
  color: #1a1a1a;
}

.splendid_email_capture.claim_my_offer_box input[type=email]:-ms-input-placeholder {
  color: #1a1a1a;
}

.splendid_email_capture.claim_my_offer_box input[type=email]::-ms-input-placeholder {
  color: #1a1a1a;
}

.splendid_email_capture.claim_my_offer_box input[type=email]::placeholder {
  color: #1a1a1a;
}

.refer-text {
  margin-bottom: 24px;
  line-height: 1.5;
}

.snref-progress ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  border-radius: 100px;
  overflow: hidden;
}

.snref-progress li:not(:last-child) {
  border-right: 1px solid #000;
}

.snref-progress li {
  width: 100%;
  line-height: 40px;
}

.snref-progress li.active {
  background: #000;
  color: #fff;
  border-color: #fff;
}

#share_link_input:focus,
#share_link_input {
  width: 100%;
  border: 2px solid #1a1a1a;
  height: 48px;
  color: gray;
  border-radius: 0;
  outline: 0;
}

#share_link_input:focus {
  color: #1a1a1a;
}

.snref-share-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
}

.snref-share-wrap li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.snref-share-wrap li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#share_link_button .copied_message {
  display: none;
}

#share_link_button.copied .copied_message {
  display: block;
}

#share_link_button.copied .copy_message {
  display: none;
}

.snref-share-svg {
  width: 45px;
  min-width: 45px;
  margin-right: 30px;
  cursor: pointer;
}

.snref-share-svg svg {
  display: block;
  width: 100%;
}

.snref-share-button {
  margin-right: 20px !important;
  width: 250px;
  text-align: center;
  font-weight: normal !important;
  padding: 14px 5px !important;
}

.snref-progress {
  margin-bottom: 35px;
}

.snref-progress-text {
  margin-bottom: 10px;
}

.woocommerce-form.woocommerce-form-login, .woocommerce-form.woocommerce-form-register {
  overflow: hidden;
}

.woocommerce-form.woocommerce-form-login .form-row, .woocommerce-form.woocommerce-form-register .form-row {
  clear: both !important;
  padding: 0 !important;
  float: none;
  width: 100%;
}

.woocommerce-form.woocommerce-form-login .woocommerce-privacy-policy-text,
.woocommerce-form.woocommerce-form-login #payment_email, .woocommerce-form.woocommerce-form-register .woocommerce-privacy-policy-text,
.woocommerce-form.woocommerce-form-register #payment_email {
  display: none;
}

.woocommerce-form.woocommerce-form-login label[for="payment_email"], .woocommerce-form.woocommerce-form-register label[for="payment_email"] {
  display: none !important;
}

.woocommerce-LostPassword.lost_password a {
  color: inherit;
}

body.woocommerce.post-type-archive-product #primary {
  margin: 0;
}

body.woocommerce.post-type-archive-product header.sn-shop-page {
  display: none;
}

@media (max-width: 991px) {
  body.woocommerce.post-type-archive-product ul.products.columns-1 {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.woocommerce .ssff-grid-layout, .sn_woocommerce .ssff-grid-layout {
  display: none;
}

.woocommerce .shop_layout_grid .hide_on_grid, .sn_woocommerce .shop_layout_grid .hide_on_grid {
  display: none;
}

.woocommerce .shop_layout_grid .ssff-grid-layout, .sn_woocommerce .shop_layout_grid .ssff-grid-layout {
  display: block;
}

.woocommerce .shop_layout_grid ul.products, .sn_woocommerce .shop_layout_grid ul.products {
  margin-left: -50px;
  margin-right: -50px;
  grid-template-columns: repeat(2, 1fr);
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  border: 0;
  padding: 30px 50px !important;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row > div, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row > div {
  width: 100%;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .star-rating, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .star-rating {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 15px;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .add_to_cart_button, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .add_to_cart_button {
  border-radius: 0 !important;
  padding: 15px 48px;
  font-weight: normal;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .added_to_cart, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .added_to_cart {
  color: inherit;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-title h5, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-title h5 {
  font-size: 22px;
  margin-bottom: 12px;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-price, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-price {
  font-size: 22px;
  display: inline-block;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-price .price, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-price .price {
  margin-bottom: 15px;
}

.woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-price *, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row .ssff-grid-price * {
  font-weight: normal;
}

@media (max-width: 991px) {
  .woocommerce .shop_layout_grid ul.products, .sn_woocommerce .shop_layout_grid ul.products {
    margin-left: 0;
    margin-right: 0;
  }
  .woocommerce .shop_layout_grid ul.products li.sn-find-focus-row, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row {
    padding-left: 25px !important;
    padding-right: 25px !important;
    min-width: 100%;
  }
}

@media (max-width: 767px) {
  .woocommerce .shop_layout_grid ul.products, .sn_woocommerce .shop_layout_grid ul.products {
    display: block;
  }
  .woocommerce .shop_layout_grid ul.products li.sn-find-focus-row, .sn_woocommerce .shop_layout_grid ul.products li.sn-find-focus-row {
    padding-left: 15px !important;
    padding-right: 15px !important;
    min-width: 100%;
  }
}

.woocommerce .shop_layout_grid .snff-thumbnail, .sn_woocommerce .shop_layout_grid .snff-thumbnail {
  background: #f7f7f7;
  margin-bottom: 30px;
}

.woocommerce .shop_layout_grid .snff-thumbnail img, .sn_woocommerce .shop_layout_grid .snff-thumbnail img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.elementor-element.elementor-products-grid ul.products.columns-1 {
  grid-template-columns: repeat(1, 1fr) !important;
}

@media (max-width: 991px) {
  .woocommerce ul.products.columns-1 li.sn-find-focus-row {
    margin-right: 0 !important;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row > div {
    width: 100%;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .woocommerce-loop-product__title {
    font-size: inherit;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .ssff-price {
    display: none;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .snff-title-wrap {
    min-width: 100px;
    max-width: 100px;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .snff-thumbnail {
    min-width: 95px;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .snff-thumbnail img {
    height: 65px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .ssff-cart-popup {
    text-align: right;
    min-width: 45px;
    max-width: 45px;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .ssff-cart-popup img {
    display: block;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .ssff-serving del,
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .ssff-serving .subscription-details {
    display: none;
  }
  .woocommerce ul.products.columns-1 li.sn-find-focus-row .ssff-serving * {
    font-size: 12px;
    font-weight: normal;
    font-family: Aquawax Pro RG;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .woocommerce ul.products.columns-1 {
    display: block;
    grid-template-columns: repeat(1, 1fr);
  }
}

#splendid_email_capture .notice {
  position: absolute;
  bottom: 100%;
  font-size: 11px;
  line-height: 1;
}

#splendid_email_capture input[type="email"]::-webkit-input-placeholder {
  /* Edge */
  color: gray;
}

#splendid_email_capture input[type="email"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

#splendid_email_capture input[type="email"]::-moz-placeholder {
  color: gray;
}

#splendid_email_capture input[type="email"]::-ms-input-placeholder {
  color: gray;
}

#splendid_email_capture input[type="email"]::placeholder {
  color: gray;
}

.sn-sticky-toc .elementor-toc__list-wrapper {
  margin: 0;
}

.sn-sticky-toc .elementor-toc__header {
  display: none;
}

.sn-sticky-toc .elementor-toc__list-item-text.elementor-item-active {
  text-decoration: underline !important;
}

.sn-sticky-toc .elementor-toc__body {
  padding-left: 0;
  padding-right: 0;
}
